<h1>
  <%= @dataset.name %> indicators
</h1>

<h4>
  <%= link_to("Categories", categories_path)%>
   >
  <%= link_to(@category.name, category_path(@category.internal_name))%>
   >
  <%= @dataset.name %>
</h4>

<ul>
  <% @indicators.each do |indicator| %>
    <li>
      <%= link_to(indicator.name, indicator_path(@dataset.internal_name,indicator.internal_name))%>
    </li>
  <% end %>
</ul>