<% breadcrumb :dashboard, @dashboard %>

<h1>
  <%= @dashboard.name %>
</h1>
<br>
<ul class="nav nav-pills" role="tablist">
  <li role="presentation" class="<%= @indicators_active %>">
    <a href="<%= url_for(@dashboard) %>#indicators" aria-controls="indicators" role="tab" data-toggle="tab">
      Indicators
    </a>
  </li>
  <li role="presentation" class="<%= @series_active %>">
    <a href="<%= url_for(@dashboard) %>#series" aria-controls="series" role="tab" data-toggle="tab">
      Series
    </a>
  </li>
</ul>
<br>
<div class="tab-content">
  <div role="tabpanel" class="tab-pane <%= @indicators_active %>" id="indicators">
    <ul>
      <% @indicators.each do |item| %>
        <li class="related">
            <%= line_chart item.display_data(current_user), width: "300px", library: { title: {text: item.indicator.name}, yAxis: {title: {text: item.indicator.series.first.unit.name}}  } %>
        </li>
      <% end %>
    </ul>
    <div class="col-xs-12 text-center">
      <%= paginate @indicators, params: {toggle: 'indicators'} %>
    </div>
  </div>
  <div role="tabpanel" class="tab-pane <%= @series_active %>" id="series">
    <ul>
      <% @series.each do |item| %>
        <li class="related">
            <%= line_chart item.display_data(current_user), width: "300px", library: { title: {text: item.indicator.name}, yAxis: {title: {text: item.series.unit.name}}  } %>
        </li>
      <% end %>
    </ul>
    <div class="col-xs-12 text-center">
      <%= paginate @series, params: {toggle: 'series'} %>
    </div>
  </div>
</div>


