<h1>
Search for indicators
</h1>

<h4>
  <%= link_to("Categories", categories_path)%>
</h4>

<%= simple_form_for :search,  url: indicators_path , :method => :get do |f| %>
    <%= f.input :query, placeholder: 'Search for indicators' %>
    <%= f.submit "Search" %>
<% end %>


<h3>
  <%= @indicators ? "Results:" : nil %>
</h3>
<ul>
  <% @indicators.each do |indicator| %>
    <li>
      <%= link_to(indicator.name, indicator_path(indicator.dataset.internal_name,indicator.internal_name))%>
    </li>
  <% end %>
</ul>