<% breadcrumb :indicator, @indicator %>

<div class="row">
  <h1 class="col-xs-12 col-md-6">
    <%= @indicator.name %>
    <% if current_user %>
      <span class="add-dashboard-item dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Add&nbsp;to&nbsp;Dashboard<span class="caret"></span></a>
        <ul class="dropdown-menu">
          <%= simple_form_for @dashboard_item do |f| %>
            <%= f.association :dashboard, collection: @dashboards %>
            <%= f.input :indicator_id, as: :hidden %>
            <%= f.button :submit %>
          <% end %>
        </ul>
      </span>
    <% else %>
      <%= link_to "Sign up to add this to your dashboard", new_user_registration_path, :class => 'add-dashboard-item'  %>
    <% end %>
  </h1>
  <%= simple_form_for :dates, wrapper: :inline_form, html: {class: 'form-inline col-xs-12 col-md-4 col-md-offset-2 date-select'}, url: indicator_path, :method => :get do |f| %>
    <%= f.input :start_date, as: :date_picker, placeholder: @start_date.to_s, wrapper_html: { class: 'choose-date'} %>
    <%= f.input :end_date, as: :date_picker, placeholder: @end_date.to_s, wrapper_html: { class: 'choose-date'}  %>
    <%= f.submit 'Go', class: 'btn btn-sm' %>
  <% end %>
</div>

<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingOne">
      <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
        <h4 class="panel-title">
          Filter Series
        </h4>
      </a>
    </div>
    <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
      <div class="panel-body">
        <div class="row">
          <%= simple_form_for :filter, wrapper: :inline_form, html: { class: 'form-inline' }, defaults: { wrapper_html: { class: 'col-xs-12 col-md-6 col-lg-4'}, input_html: { style: "width: 100%" } }, url: indicator_path , :method => :get do |f| %>
            <%= f.input :geo_code_id, collection: @geo_codes.map { |gc| [gc.name, gc.id] }, selected: @filters[:geo_code_id], prompt: "Area", include_blank: true %>
            <%= f.input :frequency_id, collection: @frequencies.map { |fr| [fr.name, fr.id] }, selected: @filters[:frequency_id], prompt: "Frequency", include_blank: true %>
            <%= f.input :seasonally_adjusted, collection: [['Yes', true] ,['No', false]] , prompt: "Seasonally Adjusted", selected: @filters[:seasonally_adjusted], include_blank: true %>
            <% f.input :unit_id, collection: @units.map { |unit| [unit.name, unit.id] }, selected: @filters[:unit_id], prompt: "Unit", include_blank: true %>
            <%= f.input :gender_id, collection: @genders.map { |gender| [gender.name, gender.id] }, selected: @filters[:gender_id], prompt: "Gender", include_blank: true %>
            <%= f.input :race_id, collection: @races.map { |race| [race.name, race.id] }, selected: @filters[:race_id], prompt: "Race", include_blank: true %>
            <%= f.input :age_bracket_id, collection: @age_brackets.map { |ab| [ab.name, ab.id] }, selected: @filters[:age_bracket_id], prompt: "Age Brackets", include_blank: true %>
            <%= f.input :employment_status_id, collection: @employment_statuses.map { |es| [es.name, es.id] }, selected: @filters[:employment_status_id], prompt: "Employment", include_blank: true %>
            <%= f.input :education_level_id, collection: @education_levels.map { |edu| [edu.name, edu.id] }, selected: @filters[:education_level_id],prompt: "Education", include_blank: true %>
            <%= f.input :child_status_id, collection: @child_statuses.map { |child| [child.name, child.id] }, selected: @filters[:child_status_id], prompt: "Children", include_blank: true %>
            <%= f.input :income_level_id, collection: @income_levels.map { |income| [income.name, income.id] }, selected: @filters[:income_level_id],prompt: "Income", include_blank: true %>
            <%= f.input :occuption_code_id, collection: @occupation_codes.map { |occ| [occ.name, occ.id] }, selected: @filters[:occupation_code_id], prompt: "Occupation", include_blank: true %>
            <%= f.input :industry_code_id, collection: @industry_codes.map { |ind| [ind.name, ind.id] }, selected: @filters[:industry_code_id], prompt: "Industry", include_blank: true %>

            <div class="col-xs-12 col-md-6 col-lg-4 text-right pull-right m-t-10">
              <input type="submit" name="commit" value="Filter" class="btn btn-primary btn-lg" data-disable-with="Filter">
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<%= line_chart( @data, library: { title: {text: @indicator.name}, plotOptions: {series: {marker: {enabled: false}}} ,yAxis: {title: {text: @indicator.series.first.unit.name}} } )%>

<% unless current_user %>
  <h4>
    <span class="label label-default">
    Trial users are limited to data before 2000. </span>
  </h4>
  <%= link_to "Get Access", new_user_registration_path, class: 'btn btn-primary' %>
<% end %>

<strong>Suggested Citation</strong>
<p>
  <%= @indicator.dataset.source.name %>,
  <%= @indicator.dataset.name %>,
  <%= @indicator.name %>
  <br>
  <%= request.original_url %> - <%= Time.now.to_date %>
</p>

<% if @indicator.description_long %>
  <div class="well">
    <%= @indicator.description_long.html_safe %>
  </div>
<% end %>

<% if @industries %>
  <div class="panel panel-primary">
    <div class="panel-heading">
      Browse by Industry
    </div>
    <div class="list-group">
      <% @industries.each do |industry| %>
        <%= link_to(industry.name, filtered_indicators_path(@dataset.internal_name, @indicator.internal_name, 'industry', industry.internal_name), class: 'list-group-item')%>
      <% end %>
    </div>
  </div>
<% end %>

<div class="panel panel-primary">
  <div class="panel-heading">
    Series (<%= @series.total_count %>)
  </div>
  <div class="list-group">
    <% @series.each do |series| %>
      <%= link_to(series.display_name, series_path(series.id), class: 'list-group-item') %>
    <% end %>
  </div>
</div>

<div class="col-xs-12 text-center">
<%= paginate @series %>
</div>
