<h1>
  <%= @series.display_name %>
</h1>

<h4>
  <%= link_to("Categories", categories_path)%>
   >
  <%= link_to(@category.name, category_path(@category.internal_name))%>
   >
  <%= link_to(@dataset.name, dataset_path(@dataset.internal_name))%>
   >
  <%= link_to(@indicator.name, indicator_path(@dataset.internal_name, @indicator.internal_name))%>
</h4>

<%= line_chart @data %>