<% breadcrumb :series, @series %>

<h1>
  <%= @series.display_name %>
  <span class="add-dashboard-item dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Add to Dashboard<span class="caret"></span></a>
    <ul class="dropdown-menu">
      <%= simple_form_for @dashboard_item do |f| %>
        <%= f.association :dashboard %>
        <%= f.input :indicator_id, as: :hidden %>
        <%= f.input :series_id, as: :hidden %>
        <%= f.button :submit %>
      <% end %>
    </ul>
  </span>
</h1>

<%= line_chart @series.display_data, library: {title: {text: @series.indicator.name} } %>

<h4>
  Other Series in <%= @series.geo_code.name %>
</h4>

<ul>
  <% @series_related_by_geo.each do |series| %>
    <li class="related">
      <%= line_chart series.display_data, width: "300px", library: {title: {text: series.indicator.name} } %>
    </li>
  <% end %>
</ul>