<h1>
  <%= @series.display_name %>
</h1>

<%= simple_form_for @dashboard_item do |f| %>
  <%= f.association :dashboard %>
  <%= f.input :indicator_id, as: :hidden %>
  <%= f.input :series_id, as: :hidden %>
  <%= f.button :submit %>
<% end %>

<h4>
  <%= link_to("Your Dashboards", dashboards_path) %>
</h4>

<h4>
  <%= link_to("Categories", categories_path)%>
   >
  <%= link_to(@category.name, category_path(@category.internal_name))%>
   >
  <%= link_to(@dataset.name, dataset_path(@dataset.internal_name))%>
   >
  <%= link_to(@indicator.name, indicator_path(@dataset.internal_name, @indicator.internal_name))%>
</h4>

<%= line_chart @series.display_data, library: {title: {text: @series.indicator.name} } %>

<h4>
  Other Series in <%= @series.geo_code.name %>
</h4>

<ul>
  <% @series_related_by_geo.each do |series| %>
    <li class="related">
      <%= line_chart series.display_data, width: "300px", library: {title: {text: series.indicator.name} } %>
    </li>
  <% end %>
</ul>